/*
*
* Catppuccin Mocha palette
* Maintainer: rubyowo
*
*/

@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

* {
  border: none;
  font-family: "MonoLisa Nerd Font";
  font-size: 15px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

.modules-left,
.modules-center,
.modules-right {
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 3px 10px 3px 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  border-width: 2px;
  border-style: solid;
  background: @base;
}

.modules-left {
  border-radius: 0 10px 10px 0;
  padding-right: 5px;
  border-left-width: 0;
  color: @sapphire;
  border-color: @sapphire;
}

.modules-right {
  border-radius: 10px 0 0 10px;
  padding-left: 5px;
  border-right-width: 0;
  color: @green;
  border-color: @green;
}

.modules-center {
  margin-top: 0;
  padding-top: 9px;
  border-radius: 0 0 10px 10px;
  border-top-width: 0;
  color: @red;
  border-color: @red;
}

#idle_inhibitor {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#pulseaudio {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#memory {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#cpu {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#temperature {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#window {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#tray {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#clock {
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}
