* {
  font-family: "MonoLisa Nerd Font", monospace;
  font-size: 15px;
}

window {
  background-color: transparent;
}

#input {
  margin: 5px;
  background-color: #1e1e2e;
  color: #cdd6f4;
  border: 2px solid #fab387;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

#scroll {
  margin: 5px;
  background-color: #1e1e2e;
  color: #cdd6f4;
  border: 2px solid #fab387;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

#entry {
  background-color: transparent;
  color: #cba6f7;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  transition: background-color 0.2s, color 0.2s;
}

#entry:selected {
  background-color: #cba6f7;
  color: #11111b;
  outline: none;
  border: none;
}

#img {
  margin-right: 10px;
}

#text:selected {
  color: #11111b;
}
